<div class="card border-0 bg-body-tertiary" {{ sylius_test_html_attribute('customer-information') }}>
    <div class="card-body">
        {% hook 'section' %}
        <div class="dashboard-wallet-wrapper mt-4">
            <div class="text-muted small mb-1">{{ 'app.ui.wallet'|trans }}</div>
            <div class="d-flex align-items-center gap-2">
                <img src="{{ asset('images/tokens/token_template_cropped.png') }}" alt="BetCircle" style="height:2rem;">
                <div class="h4 mb-0">{{ wallet_balance() }} </div>
                <span class="text-muted" style="font-size: 10px">{{ 'app.ui.tokens'|trans }}</span>
            </div>
        </div>
    </div>
</div>
