{% import '@SyliusShop/shared/macro/loader.html.twig' as loader %}
{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

<div class="bc-header-cart" {{ attributes }}>
    {{ loader.render() }}
    <div {{ sylius_test_html_attribute('cart-button') }}>
        <button class="bc-header-cart__trigger position-relative{% if app.request.attributes.get('_route') starts with 'sylius_shop_cart' or app.request.attributes.get('_route') starts with 'sylius_shop_checkout' %} is-active{% endif %}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-label="{{ 'app.ui.cart_button'|trans }}">
            {{ ux_icon('tabler:shopping-bag') }}
            {% if cart.totalQuantity > 0 %}
                <span class="bc-header-cart__badge badge rounded-pill" {{ sylius_test_html_attribute('cart-quantity', cart.totalQuantity) }}>
                    {{ cart.totalQuantity }}
                </span>
            {% endif %}
        </button>
    </div>
</div>
